---
- name: Add aptly repository
  tags: [ install ]
  when:
    - aptly__add_repo
  block:
    - name: Run setup to fetch distribution_release facts
      ansible.builtin.setup:
        gather_subset:
          - "!all"
          - "distribution_release"

    - name: Ensure aptly keyring is present
      ansible.builtin.get_url:
        url: 'https://www.aptly.info/pubkey.txt'
        dest: /etc/apt/keyrings/aptly.asc
        mode: '0644'
        force: true

    - name: Ensure aptly repository is present
      ansible.builtin.apt_repository:
        repo: "deb [signed-by=/etc/apt/keyrings/aptly.asc] http://repo.aptly.info/{{ aptly__repo }} {{ ansible_distribution_release | lower }} main"
        filename: aptly
        state: present
      notify:
        - Refresh apt cache

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Ensure aptly dependencies are present
  tags: [ install ]
  ansible.builtin.apt:
    name:
      - aptly
      - bzip2
      - gnupg2
      - zstd
      - curl
    state: present
